<main>
  <div class="row justify-content-md-center">
    <div class="col-6">

        <div class="text-center mt-40">
          <h1>
            Payment Processing — Stripe Press
          </h1>
          <hr class="mt-40">
          <div class="mt-20 text-info">
            Total processing: $<span id="payment-amount" class="amount"></span>
          </div>
        </div>

        <!-- The below 'card' shows the details of the payment, success, failure or otherwise -->
        <div class="card box-shadow mt-40">
          <div class="card-header"> 
            Payment Status
          </div>
          <div id="payment-status" class="card-body">
            <div id="payment-success" class="card-title mt-40 text-center text-success d-none">
              <h1>
                <i class="far fa-check-circle"></i> 
                Success!
              </h1>
            </div>
            <div id="payment-failure" class="card-title mt-40 text-center text-danger d-none">
              <h1>
                <i class="far fa-times"></i> 
                Failed
              </h1>
            </div>
            <div id="payment-response" class="mt-40 text-center">
              <div id="message" class="mt-20 text-center text-secondary">
                Processing payment information...
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            Payment Tracking Id: <span id="payment-id" class=""></span>
          </div>
        </div>
      </div>
  </div>
</main>